<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Status Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/page.css">
        <script type="text/javascript" src="/js/zepto.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 class="heading">Projects</h1>
        {{ range $key, $config := .Projects}}
            <div class="holder" id="project-{{ $key }}">

                <div class="title">
                    <h1>{{$config.Name}}</h1>
                </div>
                <div class="statuses">
                    <div class="overview">
                        <span>Loading Status...</span>
                    </div>
                    <div class="list">
                    </div>
                </div>
            </div>
        {{ end }}
        <!-- TODO: Add Analytics -->
    </body>
    <script type="text/javascript">
        var baseUrl = "/";
        var projects = [];
        {{ range $key, $config := .Projects}}
            projects.push('{{ $key }}');
        {{ end }}

        $(document).ready(function(e){
            for (i = 0; i < projects.length; i++) {
                var project = projects[i];
                $.ajax({
                    url: baseUrl + project + '/status',
                    success: function(data){
                        var holder = $('#project-' + project + " .overview");
                        holder.html(data);
                    }
                });
            }
        });
    </script>
</html>
